# emacs backup files
*~
.env.bash
.virtual_documents/
.ipynb_checkpoints/
__MACOSX
__pycache__
# Python virtualenv.
/venv/
# Output of a notebook
dimm.json
# Dataset
data/data-2310-Yewan-MissingValues-20231106/
