# Needed for the workshop
kaleido
seaborn
missingno
astropy
pandarallel
shap
catboost
gdown
# Jupyter Notebook setup
jupyter
jupyterlab<4
jupyterlab-git
jupyter-lsp
jupyterlab-lsp
python-lsp-jsonrpc
python-lsp-server
pycodestyle
mccabe
pycodestyle
pydocstyle
pyflakes
pylint
rope
rope
yapf
# Workshop
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
numpy==1.25.2
packaging==23.1
plotly==5.16.1
protobuf==4.24.3
py4j==0.10.9.7
pyarrow==13.0.0
pandas==1.5.3
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tenacity==8.2.3
tzdata==2023.3
plotly
pyarrow
black
